{{ define "create" }}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Golang</title>
</head>
<body>
    <form action="/save" method="post">
        <input type="text" name="name" id="name" placeholder="Введите свое имя">
        <input type="text" name="age" id="age" placeholder="Введите свой возраст">
        <button>Добавить</button>
    </form>
</body>
</html>

{{ end }}